<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Predictions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Machine Learning Predictions</h1>
    <form id="prediction-form">
        <label for="month">Month:</label><br>
        <input type="number" id="month" name="month" required><br>

        <label for="temperature">Temperature:</label><br>
        <input type="number" id="temperature" name="temperature" required><br>

        <button type="submit">Predict</button>
    </form>

    <!--style="display:none;"-->
    <div id="results" class="result" >
        <h2>Predictions</h2>
        <p id="linear">Linear Regression: </p>
        <p id="random_forest">Random Forest: </p>
        <p id="svr">SVR: </p>
        <p id="knn">K-Nearest Neighbors: </p>
        <p id="gradient_boosting">Gradient Boosting: </p>
        <p id="decision_tree">Decision Tree: </p>
    </div>

    <!-- Link to the JS file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
